importFrom(stats, predict)

export(gpls, glpls1a,glpls1a.cv.error, glpls1a.train.test.error,
        glpls1a.mlogit, glpls1a.logit.all, glpls1a.mlogit.cv.error)

S3method(gpls, default)
S3method(gpls, formula)
S3method(predict, gpls)
S3method(print, gpls)
